<div style="text-align: center; font-size: 13px; color: #888; margin-top: 32px;">
  <p>This security email was sent by {{appName}}.</p>
  <p>&copy; {{year}} {{appName}}. All rights reserved.</p>
</div>