{
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 110,
  "semi": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "classProperties"],
  "importOrder": [
    "^node:",
    "^fs$",
    "^path$",
    "<BUILTIN_MODULES>",
    "^express$",
    "^zod($|/)",
    "^ts-pattern($|/)",
    "^typeorm($|/)",
    "<THIRD_PARTY_MODULES>",
    "^@nestjs/(.*)$",
    "^src/modules(/.*)?$",
    "^src/shared/modules(/.*)?$",
    "^src/shared/decorators(/.*)?$",
    "^src/shared(/.*)?$",
    "^src/types(/.*)?$",
    "^src/config(/.*)?$",
    "^src/utils(/.*)?$",
    "^[.]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
